* {
	margin: 0;
	padding: 0;
}
html {

	margin: 0;
}
body {
	//background: #ccc;
	height: 100%;
	width: 100%;
}
div {
	border-radius: 5px;
	transform: translateX(-260px);
}
h1 {
	//color: #ff0000;
}